%h2 Writing

%ul.posts
  - @posts.each do |post|
    %li
      = link_to post.title, post_path(post.permalink)

  %li
    = link_to "Archived Posts", posts_path

%h2 Projects

%p Here's a sampling of projects I've started or worked on.

%ul.posts
  %li
    = link_to 'grape', 'https://github.com/intridea/grape'
    \- An opinionated micro-framework for creating REST-like APIs in Ruby
  %li
    = link_to 'rack-stream', 'https://github.com/intridea/rack-stream'
    \- Rack middleware for building multi-protocol streaming endpoints
  %li
    = link_to 'em-irc', 'https://github.com/jch/em-irc'
    \- Ruby EventMachine IRC client
  %li
    = link_to 'faraday', 'https://github.com/technoweenie/faraday'
    \- multi-adapter Ruby HTTP client with middleware support
