!!! 5
%html
  %head
    %meta(content="width=device-width, initial-scale=1.0" name="viewport")
    %title
      = @title || "Jerry Cheung's Tech Portfolio"

    = stylesheet_link_tag "application", :media => "all"
    = render partial: 'layouts/analytics', formats: [:js]
    = yield(:head) if content_for?(:head)

  %body.container-fluid
    #wcc.full-width
      = content_for?(:header) ? yield(:header) : render('layouts/header')

      #main
        = render partial: 'layouts/carbon_ad'
        = yield

      #footer
        %p
          Copyright Jerry Cheung 2007 - #{Time.now.year} &nbsp;&nbsp;
          = link_to 'Source for this blog', 'https://github.com/jch/whatcoderaves.com'
